@model IEnumerable<string>

<a class="btn btn-block btn-primary"
   asp-action="List"
   asp-controller="Tattoos"
   asp-route-sort="@ViewBag.SortBy"
   asp-route-author="@ViewBag.CurrentAuthor"
   asp-route-style="">
    All styles
</a>

@foreach (var style in Model)
{
    <a class="btn btn-block @(style==ViewBag.CurrentStyle ? "btn-warning" :  "btn-primary")"
       asp-action="List"
       asp-controller="Tattoos"
       asp-route-sort="@ViewBag.SortBy"
       asp-route-author="@ViewBag.CurrentAuthor"
       asp-route-style="@style"
       asp-route-page="1">
        @style
    </a>
}

